* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: 0;
    }
    -ms-overflow-style: none;
}

@font-face {
    font-family: "Rubik";
    font-weight: normal;
    font-style: normal;
    src: url("assets/Rubik-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-Light";
    font-weight: normal;
    font-style: normal;
    src: url("assets/Rubik-Light.ttf") format("truetype");
}

a {
    font-family: "Rubik";
    text-decoration: none;
    color: #fff;
}

.menu {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

ul {
    list-style: none;
}

li {
    display: flex;
    align-items: center;
}

.practice-menu {
    position: absolute;
    top: 100%;
    z-index: 999;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    flex-wrap: wrap;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    transition: 0.4s;
    a {
        color: #000;
    }
    li {
        position: relative;
        width: 100%;
        &::after {
            bottom: -4px;
        }
        &:hover {
            &::after {
                width: 100%;
                left: 0;
                background-color: #000;
            }
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.showMenu {
    transform: scaleY(1);
    opacity: 1;
}

.practice-block {
    position: relative;
}

header {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to bottom, #386198 0%, #315890 100%);
}

.fixed-header {
    position: fixed;
    top: -50px;
    transition: 0.4s;
    z-index: 50;
}

.fixed-header:hover {
    top: 0px;
}

.practice-link {
    position: relative;
    font-family: "Rubik";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #fff;
    & > div {
        width: 16px;
        height: 16px;
        margin-left: 15px;
        & svg {
            height: 16px;
            width: 16px;
            transition: 0.4s;
        }
    }
}

.menu > li {
    position: relative;
    width: 20%;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    &:hover {
        &::after {
            background-color: #fff;
            left: 0;
            width: 100%;
        }
    }
}

li {
    &::after {
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        bottom: 0;
        width: 0;
        left: 50%;
        transition: 0.4s;
    }
}

.toggled {
    background-color: #fff;
    color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    & > div svg {
        transform: rotate(-180deg);
        fill: #000000;
    }
}

h2 {
    position: relative;
    width: 100%;
    z-index: 0;
    cursor: pointer;
    margin-bottom: 10px;
    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: -3px;
        width: 100%;
        height: 1px;
        background-color: #c4c4c4;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        right: 20px;
        bottom: 5px;
        transition: 0.4s;
        background: url('assets/arrow.png');
    }
}

.anim {
    &::before {
        transform: rotate(-180deg);
    }
}

.content {
    &::before {
        content: "";
        display: block;
        height: 20px;
        margin: -20px 0 0;
    }
}

.text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    transition: 2.5s ease;
}

.showText {
    max-height: 20000px;
}

main {
    padding-top: 100px;
    display: flex;
    max-width: 1200px;
    flex-wrap: nowrap;
    margin: 0 auto;
    font-family: "Rubik-Light";
}

aside {
    position: relative;
    min-width: 250px;
    margin-right: 25px;
}

.sidebar {
    top: 80px;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    width: 250px;
    box-sizing: border-box;
    padding: 15px;
    background-image: linear-gradient(to bottom, #386198 0%, #315890 100%);
    border-radius: 10px;
    &__link {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &::after {
            content: "";
            display: block;
            height: 2px;
            width: 0;
            position: absolute;
            left: 50%;
            transition: 0.4s;
        }
        &:hover::after {
            left: 0;
            width: 100%;
            background-color: #fff;
        }
    }
}

img {
    max-height: 540px;
    max-width: 960px;
    border: 1px solid #000;
}

.img-link {
    margin: 15px 0;
    display: block;
    text-align: center;
    width: 100%;
}

.info {
    max-width: 925px;
}
